<ion-view view-title="Feel The Love 2015">
  <div class="bar bar-header bar-positive">
    <button class="button button-icon"
      ui-sref="main"><span class="small"><i class="icon ion-chevron-left"></i> Back</span></button>
    <h1 class="title">Info</h1>
  </div>
  <!-- do you want padding? -->
  <ion-content class="padding">
    <div class="bar bar-subheader">
      <h2 class="title">Sources</h2>
    </div>
    <br><br><br><br>
    <!-- content goes here -->
    [1] <a target="_blank" href="http://esa.un.org/wpp/Documentation/pdf/WPP2012_Press_Release.pdf">http://esa.un.org/wpp/Documentation/pdf/WPP2012_Press_Release.pdf</a><br>
    <a target="_blank" href="http://www.worldometers.info/world-population/population-by-country/">http://www.worldometers.info/world-population/population-by-country/</a><br>
    [2] <a target="_blank" href="http://www.gallup.com/poll/158066/special-report-adults-identify-lgbt.aspx">http://www.gallup.com/poll/158066/special-report-adults-identify-lgbt.aspx</a><br>
    [3] <a target="_blank" href="https://en.wikipedia.org/wiki/Homosexuality#Demographics">https://en.wikipedia.org/wiki/Homosexuality#Demographics</a><br>
    [4] <a target="_blank" href="http://www.worldometers.info/world-population/population-by-country/">http://www.worldometers.info/world-population/population-by-country/</a><br>
    <a target="_blank" href="https://en.wikipedia.org/wiki/Same-sex_marriage">https://en.wikipedia.org/wiki/Same-sex_marriage</a><br>
    [5] <a target="_blank" href="http://qz.com/156409/indias-latest-ban-against-gay-sex-has-its-origin-in-a-five-century-old-british-power-struggle/">http://qz.com/156409/indias-latest-ban-against-gay-sex-has-its-origin-in-a-five-century-old-british-power-struggle/</a><br>
    <a target="_blank" href="https://en.wikipedia.org/wiki/LGBT_rights_in_the_European_Union">https://en.wikipedia.org/wiki/LGBT_rights_in_the_European_Union</a><br>
    <br>
    [globe.svg] By The original uploader was Augiasstallputzer at [[::| Wikimedia Commons]] [Public domain], via Wikimedia Commons<br>
    <br>
    [some icons] <div>Icons made by <a href="http://www.flaticon.com/authors/ocha" title="OCHA">OCHA</a>, <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>


  </ion-content>
</ion-view>
